
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@font-face {
    font-family: 'Barlow';
    src: url('/font/Barlow-Black.ttf');
    src: url('/font/Barlow-Black.ttf') format('truetype');
	//font-weight: bold;
    //font-style: italic;

}

@font-face {
    font-family: 'Barlow';
    src: url('/font/Barlow-Bold.ttf');
    src: url('/font/Barlow-Bold.ttf') format('truetype');
	font-weight: bold;

}

@font-face {
    font-family: 'Barlow';
    src: url('/font/Barlow-BoldItalic.ttf');
    src: url('/font/Barlow-BoldItalic.ttf') format('truetype');
	font-style: italic;

}

@font-face {
    font-family: 'Barlow';
    src: url('/font/Barlow-ThinItalic.ttf');
    src: url('/font/Barlow-ThinItalic.ttf') format('truetype');
	font-weight: 100;
    font-style: italic;

}

@font-face {
    font-family: 'Barlow';
    src: url('/font/Barlow-Thin.ttf');
    src: url('/font/Barlow-Thin.ttf') format('truetype');
	font-weight: 100;

}

@font-face {
    font-family: 'Barlow';
    src: url('/font/Barlow-Regular.ttf');
    src: url('/font/Barlow-Regular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

$fontLarge: 'Barlow';
$fontSmall: 'Source Sans Pro', sans-serif;

html, body {
	color: $black;
	font-size: 16px;

	/* Fix #25 - Windows rendering of fonts. */
	-webkit-font-smoothing: subpixel-antialiased;
	/* -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1); */
	text-rendering: optimizeLegibility;
	/* text-shadow: $white 0 1px 1px; */
}

h1, h2, h3, h4, h5, h6 {
	color: $black;
	display: inline-block;
	font-family: $fontLarge;
	font-weight: normal !important;
}

h3 {
	font-size: 20px;
	height: 22px;
	line-height: 22px;
	margin: 0;
	padding: 0;
	width: 100%;
}

h4 {
	font-size: 26px;
	font-weight: bold !important;
	height: 28px;
	line-height: 28px;
	margin: 0;
	padding: 0;
	width: 100%;
}

h5 {
	font-family: $fontSmall;
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	margin: 0;
	padding: 0;
	width: 100%;
}

p {
	font-family: $fontSmall;
}

.bariol {
	font-family: $fontLarge;
}

.code {
	font-family: $fontSmall;
}

.font {
	&--big {
		font-size: 18px;
	}

	&--bigger {
		font-size: 22px;
	}

	&--bold {
		font-weight: bold;
	}

	&--bolder {
		font-weight: bolder;
	}
}
